.contactsHeaderContainer {
    display: grid;
    height: 30vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
}

.contactsHeaderBackgroundImage {
    width: 100%;
    object-fit: cover;
    height: inherit;
    filter: brightness(50%);
    grid-column: 1;
    grid-row: 1;
}

.contactsHeader {
    grid-row: 1;
    grid-column: 1;
    z-index: 2;
    text-align: center;
    font-size: 3.5em;
    font-weight: 600;
    
}
.contactPageContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1230px;
    margin: auto;
    column-gap: 3rem;
    align-items: flex-start;
    padding: 3rem 1rem;
}

.contactPageForm {
    padding: 2rem;
    border-radius: 40px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto 3rem;
}

.contactPageForm input, .contactPageForm textarea {
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: hsl(43, 100%, 99%);
    margin-bottom: 1rem;
    color: var(--grey);
    width: 100%;  /* Ensure all input fields have the same width */
    box-sizing: border-box;  /* Include padding and border in the element's total width and height */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.192);
}
.contactPageForm input{
    border-radius: 9999px;
}
.contactPageForm textarea{
    border-radius: 20px;
}
.contactPageForm>*{
    color: var(--grey)
}
.contactFormName > div > input {
    width: 100%;  /* Ensure name and surname fields are 100% width within their parent */
}

.fullWidth {
    width: calc(100%-1rem);
}

.sendMessageButton {
    background-color: var(--green);
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 999px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s;
    margin: 0 auto
}

.sendMessageButton:active {
    transform: scale(0.95);
}

.contactFormName {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
}

.formLabel {
    font-size: 1.3rem;
    margin: 1.3rem 0 0.5rem;
    color: var(--grey);
}

.formGroup {
    display: flex;
    flex-direction: column;
}

.contactPageContacts {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex: 1;
}


.contactPerson {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.contactTitle {
    margin: 0;
    font-size: 1.7rem;
    color: black;
}

.contactName, .contactPhone {
    margin: 0.25rem 0;
    opacity: 0.6;
}

.letsTalk {
    color: var(--grey);
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem;
    margin: 2.5em 0 0;
    letter-spacing: -1px;
}
.admininstratorContactsContainer{
    background-color: var(--lightBlue);
    padding: 2rem;
    border-radius: 10px;
    width: 200px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.192);
}
.contactPageInformation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    gap: 3rem;
}
.contactDescription {
    text-align: center;
    opacity: 90%;
    color: var(--grey);
    font-size: 1.2rem;
    max-width: 600px;
    margin: 1rem auto;
}

.companyInfo{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    line-height: 1.5rem;
}

@media (max-width: 800px) {
    .contactPageContainer {
        grid-template-columns: 1fr;
    }
    .contactPageContacts {
        margin: 0 auto 3rem;
    }
    .contactFormName {
        grid-template-columns: 1fr;
    }
}

.greyFont{
    color: var(--grey)
}
.inputFieldHeader{
    margin: 5px 0 2px 8px;
}