.navBarContainer{
    height: 100px;
    background-color: transparent;
    margin: 5px;
}
.logo{
    position: absolute;
    height: 100px;
    object-fit: contain;
    left: 2rem;
    top: 20px;
    z-index: 999;
}
.mainButtons{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#171717;
    border-radius: 40px;
    padding: 15px;
    
    width: 255px;
    margin-left: auto;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.24);
-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.24);
box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.24);
    
    
}

.navButtons{
    margin-right: 30px;
    margin-top: 20px;
    position: absolute;
    right: 10px;
    position: fixed;
    z-index: 9999;
    
    

}

.rezervuotiButton{
    transition: background-color 0.3s;
}
.rezervuotiButton:hover{
    background-color: var(--grey);
}
.arrowDown{
    display: none;
    max-height: 30px;
    margin-right: 3rem;
}
.pagrindinisButton{
    border:none;
    background-color: transparent;
    color: rgb(238, 235, 227);
    cursor: pointer;
    transition: color 0.3s;
    margin-right: 0;
    margin-left: 0;
    font-size: 1em;
}

.secondaryButtons{
    text-align: right;
    align-items: end;
    width: 310px;
    
}

.namaiButton, .galerijaButton, .kontaktaiButton, .kaipMusRastiButton,.navContacts{
    background-color:#171717;
    border: none;
    margin: 10px;
    padding: 10px;
    height: 40px;
    border-radius: 25px;
    width: auto;
    color: rgb(238, 235, 227);
    padding-left: 20px;
    margin-left: auto;
    padding-right: 20px;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.24);
    transition: color 0.3s;
}

.namaiButton:hover, .galerijaButton:hover, .kontaktaiButton:hover, .kaipMusRastiButton:hover, .pagrindinisButton:hover{
    color:rgb(170, 170, 170);
    
}

@media (max-width: 750px){
    .logo{
        left: 10px;
        transform: translateX(0);
        height: 85px;
        top: 15px
    }
    .secondaryButtons{
        display: flex;
        flex-direction: column;
    }
    .arrowDown{
        display:block;
    }
    .mainButtons{
        margin-right: -30px;
    }
}

@media (max-width: 400px){
    .logo{
        display: none;
    }
}

.navContacts{
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    height: 20px;
    align-items: center;
    margin: 0px;
    justify-content: space-around;
    width: 220px;
    cursor: default ;
    z-index: 9999;
}

.contactIcon .tooltip{
    max-height: 100%;
    margin: 10px;
}

.tooltip-text {
    position: absolute;
    top: -40px;
    left: -300%;
    z-index: 2;
    width: 120px;
    color: white;
    font-size: 12px;
    background-color: #202325;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
  }
  
  #fade {
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  #delay {
    opacity: 0;
    transition: opacity 0.2s;
    transition-delay: 1s;
  }
  
  .hover-text:hover #fade { opacity: 1; }
  .hover-text:hover #delay { opacity: 1; }
  
  
  .hover-text {
    position: relative;
    display: inline-block;
    font-family: Arial;
    text-align: center;
    height: 50px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .phoneIcon{
    height: 23px;
    cursor: pointer;
  }